version: 2.1
orbs:
  codecov: codecov/codecov@3.2.2
jobs:
  build:
    docker:
      - image: cimg/elixir:1.13--node
    environment:
      MIX_ENV: test
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm install -g pnpm
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix compile --warnings-as-errors --force
      - run: mix test
      - store_test_results:
          path: ./reports
      - run: mix credo
      - run: mix coveralls.json
      - codecov/upload:
          file: ./reports/excoveralls.json

workflows:
  build:
    jobs:
      - build
